{
    "$schema": "./schema/basic.schema.json",
    "prefix": "$",
    "botName": "rollbot",
    "presenceMsg": "i rolled a {number} | $help",
    "timeZone": "America/New_York",
    "botColor": "#0052FE"
}